<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__list__item">
      <%= link_to new_client_path, class:'navbar__list__item__link' do %>
        <%= load_svg('add-new-customer.svg') %>
        <span class="navbar__list__item__link__text"><%= t('.new_contact') %></span>
      <% end %>
    </li>
    <li class="navbar__list__item">
      <%= link_to destroy_user_session_path, class:'navbar__list__item__link', method: :delete do %>
        <%= load_svg('logout.svg') %>
        <span class="navbar__list__item__link__text"><%= t('.sign_out') %></span>
      <% end %>
    </li>
    <li class="navbar__list__item">
      <a href="https://github.com/mploureno" target="_blank">
        <span>powered by cleito &#169;</span>
      </a>
    </li>
  </ul>
</nav>