<%= form_for(client, url: url) do |f| %>
  <%= render 'shared/error_messages', object: client %>
    <div class="form__group">
      <%= f.text_field :first_name,
                      autofocus:true,
                      autocomplete: 'on',
                      placeholder: t('.name'),
                      class: 'form__group__input' %>
    </div>
    <div class="form__group">
      <%= f.text_field :last_name,
                      autocomplete: 'on',
                      placeholder: t('.last_name'),
                      class: 'form__group__input' %>
    </div>
    <div class="form__group">
      <%= f.email_field :email,
                      autocomplete: 'on',
                      placeholder: t('.email'),
                      class: 'form__group__input' %>
    </div>
    <div class="form__group">
      <%= f.text_field :mobile_phone,
                      autocomplete: 'on',
                      placeholder: t('.phone'),
                      class: 'form__group__input' %>
    </div>
    <%= f.submit t('.submit'), class: 'submit-btn'%>
  <% end %>
