<h3 class="header"><%= t('.header') %></h3>
<div class="clients-list">
  <% unless Client.exists? %>
    <p class="header"><%= t('.empty') %></p>
  <% end %>
  <% @clients.each do |client| %>
    <%= link_to client_path(client) do %>
      <div class="clients-list-item">
        <p><%= client.first_name %></p>
        <p><%= client.last_name %></p>
      </div>
    <% end %>
  <% end %>
</div>