<div class="table-wrapper">
  <% unless current_user.clients.exists? %>
    <p class="clients-list__empty">
      <%= t('.empty') %>
    </p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th><%= t('.legend') %></th>
        <th><%= t('.email') %></th>
        <th><%= t('.phone') %></th>
      </tr>
    </thead>
    <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= "#{client.first_name} #{client.last_name}" %></td>
        <td><%= "#{client.email}" %></td>
        <td><%= "#{client.mobile_phone}" %></td>
      </tr>
    <% end %>
    </tbody>      
  </table>
</div>