<div class="client-card">
  <div class="client-card-container">
    <h3><%= "#{ @client.first_name } #{ @client.last_name }" %></h3>
    <h5><%= @client.email %></h5>
    <h5><%= @client.mobile_phone %></h5>
  </div>
  <div class="btn-card">
    <%= link_to t('.edit'), edit_client_path, 
                            class: 'btn-link' %>
    <%= link_to t('.delete'), client_path(@client), 
                              class: 'btn-link', 
                              method: :delete, 
                              data: { confirm: t('.confirmation') } %>

    <%= link_to t('.back'), clients_path, 
                            class: 'btn-link' %>
  </div>                            
</div>  