<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= render 'shared/rails_default' %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <% if current_user.present? %>
      <%= render 'shared/navbar' %>
    <% end %>
    <main>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
