<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= render 'shared/rails_default' %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash_messages' %>
    <main>
      <%= yield %>
    </main>  
  </body>
</html>
