<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'shared/rails_default' %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <div class="dashboard">
      <% if current_user.present? %>
        <%= render 'shared/totally_useless_header' %>
        <%= render 'shared/navbar' %>
      <% end %>
      <div class="chart">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
