<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Challenge</title>
=======
    <title>Gabas</title>
>>>>>>> b6cc376fa5d2e4f6c7ce0ada77901110b8046826
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
